.container {
    width: 100%;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.ck.ck-editor__editable_inline {
    padding: 0 1.5em !important;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 100vh;
    overflow-y: auto;
}

.ck-editor__main {
    padding-bottom: 2em;
}

.tags-input {
    width: 70%;
    margin: auto;
}

.tags-input ion-button {
    margin-bottom: 20px;
}

[data-scope='tags-input'][data-part='root'] {
    padding: 10px;
}

[data-scope='tags-input'][data-part='input'] {
    background: silver;
    color: #2a2a2a;
    padding: 5px 10px;
    flex: 1;
    margin-top: 10px;
}

[data-scope='tags-input'][data-part='item'] {
    background: var(--ion-color-primary);
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

[data-scope='tags-input'][data-part='item-delete-trigger'] {
    height: 20px;
}

[data-scope='tags-input'][data-part='control'] {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    margin: 10px 0;
}

.controls {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.controls ion-button {
    margin-bottom: 20px;
}

.controls ion-item {
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .ck.ck-editor__main > .ck-editor__editable {
        background: #2a2a2a !important;
    }

    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
        border-color: transparent !important;
    }

    .ck.ck-toolbar {
        background: #363636 !important;
        border: transparent !important;
    }

    .ck-reset_all :not(.ck-reset_all-excluded *) {
        color: #fff !important;
    }

    .ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover, .ck.ck-dropdown__panel, .ck.ck-dropdown__panel-visible {
        background: #2a2a2a !important;
    }

    .ck.ck-button.ck-on, a.ck.ck-button.ck-on {
        background: #4d4d4d !important;
        color: #1a1a1a !important;
    }
}

@media (min-width: 1400px) {
    .container {
        /*max-width: 1400px;*/
    }
}