.container {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 100vh;
    overflow-y: auto;
}

.ck-editor__main {
    padding-bottom: 2em;
}

@media (prefers-color-scheme: dark) {
    .ck.ck-editor__main > .ck-editor__editable {
        background: #2a2a2a !important;
    }

    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
        border-color: transparent !important;
    }

    .ck.ck-toolbar {
        background: #363636 !important;
        border: transparent !important;
    }

    .ck-reset_all :not(.ck-reset_all-excluded *) {
        color: #fff !important;
    }

    .ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover, .ck.ck-dropdown__panel, .ck.ck-dropdown__panel-visible {
        background: #2a2a2a !important;
    }

    .ck.ck-button.ck-on, a.ck.ck-button.ck-on {
        background: #4d4d4d !important;
        color: #1a1a1a !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}